

{% extends 'base.html.twig' %}

{% block body %}
<h1>Connexion</h1>
<form action="{{ path('login') }}" method="post">
    {% if (error !=null) %}
    <h3 class="bg-red-700 text-white">{{ error }}</h3>
    {% endif %}
    <label>
        <input type="email"  name="email" placeholder="Email">
    </label>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <input type="submit" value="Connexion">

</form>
{% endblock %}